<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27957987620-8omqp3bthdj1fnd4gv2cig24qm5sh9cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27957987620-8omqp3bthdj1fnd4gv2cig24qm5sh9cg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>27957987620-viurtgbk0kkovc66h08jf7fvbjpnhk2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJQrcMEv5rRjHx2OCDpCaLXZw5sXydbhc</string>
	<key>GCM_SENDER_ID</key>
	<string>27957987620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasasApp</string>
	<key>PROJECT_ID</key>
	<string>kasasapp-4cbc5</string>
	<key>STORAGE_BUCKET</key>
	<string>kasasapp-4cbc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27957987620:ios:05265e793476985409cbb1</string>
	<key>DATABASE_URL</key>
	<string>https://kasasapp-4cbc5.firebaseio.com</string>
</dict>
</plist>